@import url(./LandingPage.css);

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(circle, #576cbc, #475ea8, #385194, #294480, #19376d);
}
  
  .error-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1000px;
    width: 100%;
}
  
  .error-content {
    flex: 1;
    padding: 10px;
}
  
  .error-image {
    flex: 1;
    padding: 10px;
  }
  
  .error-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
  
  .error-title {
    font-size: 9rem;
    color: var(--color-text);;
}
  
  .error-description {
    font-size: 1.8rem;
    color: var(--color-text);
    margin: 10px 0;
    padding-bottom: 25px;
}
  
  .error-links {
    margin-top: 20px;
}
  
  .error-back,
  .error-home {
    margin-right: 10px;
}
  
  .error-back a,
  .error-home a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1rem;
    color: var(--color-text);
    border: 2px solid var(--color-text);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

@media screen and (max-width: 768px){ 
    .error-container {
        flex-direction: column;
    }
  
    .error-content {
        order: 2;
        padding: 20px;
        text-align: center;
    }
  
    .error-image {
        order: 1;
        padding: 20px;
        width: 80%;
        height: auto;
    }
  
    .error-title {
        font-size: 4rem;
    }
  
    .error-description {
        font-size: 1.3rem;
    }
  
    .error-back a,
    .error-home a {
        padding: 10px 20px;
        font-size: 1.0rem;
    }
    
}