@import "../../pages/styles/LandingPage.css";

.InitSession {
    background: linear-gradient(
        45deg,
        var(--color-secondary),
        var(--color-primary),
        var(--color-bg)
    );
    min-height: 100vh;
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    animation: colors 12s ease-in-out infinite;
    background-size: 400% 400%;
}

/* Background Colors Animations */
@keyframes colors {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.image-top img {
    display: block;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 80px;
    margin: 30px 80px;
}

.session-text {
    flex: 1;
    text-align: left;
}

.session-title {
    font-size: 2.5em;
    font-weight: bold;
    padding-left: 30px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.session-description {
    margin: 30px;
    font-size: 1em;
    margin-top: 10px;
    text-align: left;
}

.session-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.session-image img {
    width: 220px;
    height: 220px;
    margin: 0 auto 30px;
    border-radius: 50%;
    opacity: 0.8;
    animation: swing 3s ease-in-out infinite;
}

/* image animation session*/
@keyframes swing {
    0%,
    100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    75% {
        transform: rotate(15deg);
    }
}

  
.text-box {
    background-color: var(--color-secondary);
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto 0;
    color: var(--color-text);
    height: auto;
    width: 350px;
    font-size: 0.8rem;
    text-align: center;
}

/* accept button */
.session-accept {
    margin-left: 30px;
    margin-top: 30px;
}

#continue {
    margin-left: 30px;
}

#backbtn {
    margin-top: 30px;
    margin-left: 20px;
}

/** small screen */
@media screen and (max-width: 768px) {
    .top {
        align-items: center;
    }

    .content {
        display: block;
        width: 100%;
        justify-content: space-between;
        padding-left: 0;
        margin: 0;
    }

    .session-text {
        text-align: left;
        padding: 60px;
    }

    .session-title {
        font-size: 1.2em;
        font-weight: bold;
        margin-left: 30px;
    }

    .session-description {
        margin: 30px;
        font-size: 1em;
        text-align: left;
    }

    .session-image {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .session-image img {
        width: 190px;
        height: 190px;
        border-radius: 50%;
        opacity: 0.8;
        animation: swing 3s ease-in-out infinite;
    }

    .session-accept {
        margin-left: 30px;
        font-size: 0.8em;
    }

    .text-box {
        background-color: var(--color-secondary);
        padding: 20px;
        border-radius: 10px;
        margin-top: 10px;
        color: var(--color-text);
        height: auto;
        font-size: 0.7rem;
        width: 250px;
    }
}