@import "../styles/LandingPage.css";

.TermsandCondition {
  background-color: var(--color-secondary);
  align-items: center;
  color: var(--color-text);
  height: 100%;
  padding: 1.5rem 1rem;
}
.button {
  margin: 1rem;
}

section {
  padding: 0.5rem 2rem;
}
.TermsandCondition h1 {
  color: #f0a500;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.TermsandCondition h2 {
  color: #f0a500;
  font-size: 0.8rem;
  font-weight: 600;
}
.TermsandCondition h2:hover {
 font-size: 0.81rem;
}

.TermsandCondition p {
  font-size: 0.7rem;
}

.TermsandCondition a {
  color: var(--color-text);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .TermsandCondition {
    padding: 1rem;
  }
  section {
    padding: 0.1rem 1rem;
  }
  .button {
    margin: 1rem 1rem 3rem 1rem;
  }
  .Termscontent {
    padding: 1.5rem 0 1rem;
  }
  .TermsandCondition h1 {
    font-size: 1rem;
  }
  .TermsandCondition h2 {
    font-size: 0.7rem;
  }
  .TermsandCondition h2:hover {
    font-size: 0.71rem;
   }
  .TermsandCondition p {
    font-size: 0.6rem;
  }
}
